<div class="well">
  <h2>Today's Meals</h2>
  <h4>Number of Meals Today: {{mealCount}}</h4>
  <h4>Total Calorie Count: {{calorieCount}}</h4>
  <div class="edit" *ngIf="mealToEdit">
      <label>Edit Meal Name:</label>
      <input [(ngModel)]="mealToEdit.name" class="form-control">
      <label>Edit Calories:</label>
      <input [(ngModel)]="mealToEdit.calories" class="form-control">
      <label>Edit Notes:</label>
      <textarea [(ngModel)]="mealToEdit.notes" class="form-control"></textarea>
      <button type="button" (click)="sendEdit()">Save Edits</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
  </div>
</div>
