<div class="jumbotron">
  <h1>Meal Tracker</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <app-meal-dash [meals]="meals" [mealCount]="mealCount" [calorieCount]="calorieCount" [mealToEdit]="mealToEdit" (saveEdit)="saveEdit($event)" (sendSort)="sortList($event)"></app-meal-dash>
      <app-meal-list [meals]="meals" [sortBy]="sortBy" (sendEdit)="openEdit($event)" ></app-meal-list>
    </div>
    <div class="col-sm-4">
      <app-meal-add (clickSender)="addMeal($event)"></app-meal-add>
    </div>
  </div>
</div>
