/* You can add global styles to this file, and also import other style files */

textarea {
  resize: vertical;
  min-height: 200px;
}

button {
  margin: 10px;
}

.well {
  background-color: red;
}


.inline {
  display: inline;
}

.float-right {
  float: right;
}

.sort {
  margin-bottom: 15px;
}

.jumbotron {
  text-align: center;
  background-image: url('./assets/veggies.jpg');
  background-position: 0% 70%;
  background-size: cover;
}

.white {
  color: white;
  text-shadow: 5px 5px black;
}
